################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Hack2017/Hack2017/data

*.userprefs

\.DS_Store

Hack2017/Hack2017/bin/

Hack2017/Hack2017/obj/

**/*node_modules/**
*.testxml
bin
obj
*.suo
*.user
*.testxml

.vs

/server/packages/**

TestResult.xml
test-results.testxml
/TestResults
/CStore.Data.Tests/CStore.Data.Tests.VisualState.xml

/**/app/tests/_Chutzpah.50f05e4b8bae1164d764ec41fc9f1cf1.test.html
/**/app/tests/_Chutzpah.b04e963b59b88db5c19e36e4ddf0da96.test.html
/**/test-results.xml
/**/app/tests/test-results.xml
/**/test-results.testxml
/**/bower_components
/**/node_modules
/**/coverage

/**/app/tmp/templatecache.js
/**/.settings/settings.json
/*/.vs/config/applicationhost.config
/*/_references.js

!PhoenixSQL.API/**
PhoenixSQL.API/.vscode/**
PhoenixSQL.API/typings/**
PhoenixSQL.API/.idea
PhoenixSQL.Scripts/.idea
/**/app/.vscode/tasks.json
/**/app/.vscode/launch.json
/server/nunit-result.xml
/client/test-reports/**
/server/.vs/config/applicationhost.config
/npm-debug.log
/client/npm-debug.log
/nunit-result.xml
/nunit-int-test-result.xml

# NCrunch
*.ncrunchproject
*.ncrunchsolution
nCrunchTemp_*.csproj
_NCrunch_*/
