################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Hack2017/Hack2017/data

*.userprefs

\.DS_Store
